* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: #decdac;
}

.button-container {
    width: 400px;
    height: 200px;
    background-color: rgba(254, 250, 243, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    inset: 0;
    margin: auto;
    position: fixed;
}

.button-container button {
    border: none;
    padding: 10px 45px;
    border-radius: 30px;
    background-color: rgba(235, 191, 83, 1);
    color: rgba(254, 250, 243, 1);
}

.button-container img {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 40px;

}

.popup {
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 16px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.3);

    transform: translate(-50%, -50%) scale(0);
    transition: all 0.4s ease-in-out;
    left: 0;
    top: 0;

}

.popup-open .popup {
    transform: scale(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.close-icon {
    font-size: 48px;

    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;

}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.popup-open .overlay {
    display: block;
}

.main-content {
    display: flex;
    gap: 30px;
    padding: 20px 20px 0;
    min-height: 100px;
}

.main-content img {
    position: relative;
    top: -80px;
    height: 200px;

}

.email-container {
    padding: 0 20px 20px 12px;
}

.email-container button {
    border: none;
    color: rgba(254, 250, 243, 1);
    background-color: rgba(235, 191, 83, 1);
    border-radius: 0 25px 25px 0;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
}

input:focus {
    outline-color: rgba(175, 161, 135, 1)
}


.email-container input {
    border: none;

    padding: 12px 20px;
    font-size: 20px;
    border-radius: 25px 0 0 25px;
    color: rgba(175, 161, 135, 1);
    background-color: rgba(238, 232, 221, 1);
}